<h3>Please read the following information very carefully.</h3><p>To ensure you have a great testing experience, here are some
    tips and troubleshooting information.</p><h4>TAKING YOUR TEST:</h4>
<ul>
    <li>Before taking your Test, make sure you are in an environment where you will not be disturbed.</li>
    <li>Your answers are saved as you submit each one, not at the end of the Test. This means you will not lose any work.</li>
    <li>If the Test has a time limit, you will see a countdown timer at the top of each page. If you run out of Time, the Test will be finished automatically and any answers on the current page will also be submitted for you so you will not lose any work.</li>
    <li>Avoid using the browser back button as this will not work. IF the Test is set to allow you to go back to Previous questions, use the “Previous” button which will be under your Questions.</li>
</ul><h4>HOW TO AVOID BEING LOGGED OUT OF A TEST:</h4>
<ol>
    <li>Stay connected to the Internet during your Test.</li>
    <li>Do not click away from the Test until you have submitted your answers and finished the Test.</li>
    <li>If you need to type answers, type your answers in the answer boxes under each question, not in a separate application like Microsoft Word©.</li>
</ol><h4>TROUBLESHOOTING:</h4>
<ul>
    <li>If your Test page freezes, you can always click refresh on your web browser and the Test will again load on the same Question/s you were on.<br> Note: If you have written any long answers on the frozen page, make a copy of these answer/s first so you do not lose them.</li>
    <li>If your Computer or Web browser has a problem or they are closed, using the same Web browser, re-open your Web browser go to the Start Link for the Test and you will be taken back to the last question you were on, where you will be able to resume your Test.</li>
    <li>I have saved my Test but how do I resume it? Some Tests have the option to “Save and finish later”. To resume your Test, go back to the Tests' Start Link and select the Resume option to log in and finish your Test.</li>
</ul>


<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
</div>

<a id="#question_0-tab" data-toggle="pill" href="#question_0" role="tab" aria-controls="#question_0" aria-selected="false" class="nav-link"><span class="media align-items-center"><span class="media-left"><span class="btn btn-white btn-circle">#1</span></span></span></a>

<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
</div>